.sidebar-nav {
    & .rainbow {
        background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: rainbow_animation 6s ease-in-out infinite;
        background-size: 400% 100%;
    }

    @keyframes rainbow_animation {
        0%,100% {
            background-position: 0 0;
        }
    
        50% {
            background-position: 100% 0;
        }
    }
}

.sidebar-nav.social {
    font-size: 16px;
    li {
        float: none;
    }
    img.logo {
        max-width: 18px;
         float: left;
         margin: 0 5px 0 0;
    }
}

.participants {
	img {
		width: 128px;
		height: 128px;
		padding: 5px;
		float: right;
		border-radius: 50%;
	}
	img:after {
		content: "";
		clear: both;
	    }
}

.mini-profile {
    min-width: 310px;
    display: inline-block;
    img {
        width: 128px;
        height: 128px;
        float: left;
    }
    img:after {
        content: "";
        clear: both;
    }
    span {
        height: 128px;
        line-height: 128px;
        text-align: center;
        padding-left: 5px;
    }
}

.google-calendar {
    float: right;

    :after{
        content: "";
        clear: both;
    }
}

.google-spreadsheet {
  position: relative;
  padding-bottom: 52%;
  min-height: 370px;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.image-404 {
    max-width: 100%;
}

.post-tags {
    font-size: 15px;
    color: #9a9a9a
}
