{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}
{% block description %}{{ page.description }}{% endblock description %}


{% block ogtitle %}{{ page.title }}{% endblock ogtitle %}
{% block ogdescription %}{{ page.description }}{% endblock ogdescription %}
{% block ogtype %}article{% endblock ogtype %}

{% block ogimage -%}
  {% if page.extra.preview_img -%}
    {{ page.extra.preview_img -}}
  {% else -%}
    {{ super() -}}
  {% endif -%}
{% endblock ogimage %}


{% block content %}

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
  {{ page.content | safe }}
  {% if page.extra.tags -%}
  <span class="post-tags">{{ page.extra.tags -}}</span>
  {% endif -%}
</article>
{% endblock content %}

