<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta
      	property="og:title"
	    content="{% block ogtitle %}{{ config.title }}{% endblock ogtitle %}"
      >
      <meta
      	property="og:description"
	    content="{% block ogdescription -%}
	              {{ config.description }}
		        {%- endblock ogdescription %}"
      >
      <meta
	    property="og:image"
        content="{% block ogimage %}{{ config.base_url }}/logo.jpg{% endblock ogimage %}"
      >
      <meta
        property="og:type"
        content="{% block ogtype %}website{% endblock ogtype %}"
      >
      <meta
        property="og:url"
        content="{% block ogurl %}{{ current_url }}{% endblock ogurl %}"
      >

      <!-- favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>
      <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">

      <!-- CSS -->
      <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
      <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

      {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="{{ config.extra.hyde_theme }} {% if config.extra.hyde_reverse %}layout-reverse{% endif %}">
        {% block sidebar %}
            <div class="sidebar">
                <div class="container {% if config.extra.hyde_sticky %}sidebar-sticky{% endif %}">
                    <div class="sidebar-about">
                        {% block sidebar_about %}
                            <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
                            {% if config.description %}
                            <p class="lead">{{config.description}}</p>
                            {% endif %}
                        {% endblock sidebar_about %}
                    </div>

        <ul class="sidebar-nav">
            <li><a href="http://wowdsgn.ru/sitshop" target="_blank" class="rainbow">Мерч</a></li>
            {% block sidebar_nav %}
            {% for link in config.extra.hyde_menu_links %}
            <li><a href="{{link.url}}">{{link.name}}</a></li>
            {% endfor %}
            {% endblock sidebar_nav %}
        </ul>

        <ul class="sidebar-nav social">
            {% block sidebar_social %}
            {% for link in config.extra.hyde_social_links %}
            <li><img class="logo" src="{{link.logo}}"><a href="{{link.url}}">{{link.name}}</a></li>
            {% endfor %}
            {% endblock sidebar_social %}
        </ul>
    </div>
</div>
{% endblock sidebar %}

        <div class="content container">
            {% block content %}
                <div class="posts">
                    {% for page in section.pages %}
                      <div class="post">
                        <h1 class="post-title">
                          <a href="{{ page.permalink }}">
                            {{ page.title }}
                          </a>
                        </h1>

                        <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
                          {{ page.summary | safe }}
                      </div>
                    {% endfor %}
                </div>
            {% endblock content %}
        </div>

</body>

</html>
